POSTGRES_DB=paperless
POSTGRES_USER=paperless
POSTGRES_PASSWORD=

PAPERLESS_SECRET_KEY=
PAPERLESS_TIME_ZONE=Asia/Jakarta
PAPERLESS_OCR_LANGUAGE=ind+eng
PAPERLESS_OCR_LANGUAGES=ind
PAPERLESS_ADMIN_USER=
PAPERLESS_ADMIN_PASSWORD=

APP_URL=
APP_HOST=

ACME_EMAIL=