# Database
PAPERLESS_DBHOST=db
PAPERLESS_DBNAME=paperless
PAPERLESS_DBUSER=paperless
PAPERLESS_DBPASSWORD=paperless

# Paperless
PAPERLESS_SECRET_KEY=just_put_a_long_secret_password_key_here
PAPERLESS_TIME_ZONE=Asia/Jakarta
PAPERLESS_OCR_LANGUAGE=eng+ind
PAPERLESS_OCR_LANGUAGES=ind
PAPERLESS_ADMIN_USER=admin
PAPERLESS_ADMIN_PASSWORD=admin

USERMAP_UID=1000
USERMAP_GID=1000

# Traefik
TRAEFIK_ACME_EMAIL=example@mail.com

# Redis
PAPERLESS_REDIS=redis://broker:6379

# Tika/Gotenberg
PAPERLESS_TIKA_ENABLED=1
PAPERLESS_TIKA_GOTENBERG_ENDPOINT=http://gotenberg:3000
PAPERLESS_TIKA_ENDPOINT=http://tika:9998
LOCAL_IP=172.23.210.173
PAPERLESS_URL=http://${LOCAL_IP}